<header class="header">
    <div class="container">
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="row">
                <a href="#" class="col-sm-4 navbar-logo text-left">
                    <spam>Home</spam>
                </a>
                <a href="#" class="col-sm-4 navbar-logo text-center">
                    <h1>SFS</h1>
                </a>
                <a href="#" class="col-sm-4 navbar-logo text-right">
                    <spam>Saved Articles</spam>
                </a>
            </div>
        </div>
    </div>
</header>


<section class="main">
    <div class="container grid-custom articles-gallery">
        <div class="row">
            <div class="col-md-6 text-center ">
                <div class="article-img">
                    <p>Article title</p>
                </div>
            </div>
            <div class="col-md-6 text-center ">
                <div class="article-img">
                    <p>Article title</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center ">
                <div class="article-img">
                    <p>Article title</p>
                </div>
            </div>
            <div class="col-md-6 text-center ">
                <div class="article-img">
                    <p>Article title</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="text-muted">
    <div class="container">
        footer
    </div>
</footer>