<header class="header">
    <div class="container">
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="row">
                <a href="/scrape" class="col-sm-4 navbar-logo text-left">
                    <button class="btn primary-btn" id="scrape">Scrape new Articles!</button>
                </a>
                <a href="/" class="col-sm-4 navbar-logo text-center">
                    <h1>TechCrunch</h1>
                </a>
                <a href="/saved" class="col-sm-4 navbar-logo text-right">
                    <button class="btn primary-btn" id="saved-art">Saved Articles</button>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row articles">
        {{#each articles}} {{> article-block}} {{/each}}
    </div>

    {{!-- Modal for alerting number of scraped articles --}}
    <div id="alert-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h2>You have scraped
                        <span id="articles-count"></span> new articles</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>