<header class="header">
    <div class="container">
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="row">
                <a href="/scrape" class="col-sm-4 navbar-logo text-left">
                    <button class="btn primary-btn" id="scrape">Scrape</button>
                </a>
                <a href="/" class="col-sm-4 navbar-logo text-center">
                    <h1>TechCrunch</h1>
                </a>
                <a href="/saved" class="col-sm-4 navbar-logo text-right">
                    <button class="btn primary-btn" id="saved-art">Saved Articles</button>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row articles">
        {{#each articles}} {{> article-block}} {{/each}}
    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>