<header class="header">
    <div class="container">
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="row">
                <a href="#" class="col-sm-4 navbar-logo text-left">
                    <button class="btn primary-btn" id="scrape">Scrape</button>
                </a>
                <a href="#" class="col-sm-4 navbar-logo text-center">
                    <h1>SFS</h1>
                </a>
                <a href="#" class="col-sm-4 navbar-logo text-right">
                    <spam>Saved Articles</spam>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container saved-articles">
    <h1>Saved articles</h1>
    <div class="row articles">
        {{#each savedArticles}} {{> article-block}} {{/each}}
    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>