.navbar-logo {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

button {
  cursor: pointer;
}

a,
a:link {
  color: white;
}

.articles-container {
  margin-top: 80px !important;
}

.article-img {
  background: #b50000;
  color: white;
  margin-bottom: 30px;
  padding: 40px;
  text-align: left;
}

.article-img h4 {
  display: inline-block;
  vertical-align: middle;
  font-weight: 300;
}

.container {
  padding: 0;
  margin: 0 auto;
}

.header {
  background-color: #b50000;
  color: white;
}
